{% set payment = order.lastCartPayment() %}
{% set banks = cw_tpay_get_available_banks() %}

{# TODO remove comments and move style and js to different file (how to) #}
{% if cw_tpay_get_gateway_config_value(payment.method.gatewayConfig, 'type') == 'pay-by-link' %}
<style>
    .bank-tile {
        display: inline-block;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ccc;
        cursor: pointer;
        width: 100px;
        text-align: center;
    }
    .bank-tile img {
        max-width: 100%;
        height: auto;
    }
    .bank-tile.selected {
        border-color: blue;
        background-color: #f0f8ff;
    }

    .bank-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
        gap: 15px; /* Spacing between tiles */
    }
</style>

<div class="bank-container">
    {% for bank in banks %}
        <div class="bank-tile" data-bank-id="{{ bank.id }}" onclick="selectBank('{{ bank.id }}')">
            <img src="{{ bank.image.url }}" alt="{{ bank.name }}">
            <p>{{ bank.name }}</p>
        </div>
    {% endfor %}
</div>

{{ form_row(form.tpay.pay_by_link_channel_id) }}

<script>
    function selectBank(bankId) {
        // Remove 'selected' class from all tiles
        document.querySelectorAll('.bank-tile').forEach(function(tile) {
            tile.classList.remove('selected');
        });

        // Add 'selected' class to the clicked tile
        let clickedTile = document.querySelector('[data-bank-id="' + bankId + '"]');
        clickedTile.classList.add('selected');

        // Set the hidden input value to the clicked tile's ID
        document.getElementById('sylius_checkout_complete_tpay_pay_by_link_channel_id').value = bankId;
    }
</script>
{% endif %}
