{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ 'commerce_weavers_sylius_tpay.shop.waiting_for_payment.title'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="ui center aligned huge header">
        {{ 'commerce_weavers_sylius_tpay.shop.waiting_for_payment.we_are_waiting_for_payment'|trans }}
    </h1>

    <div class="ui basic segment">
        <img class="ui centered image" src="{{ asset('build/commerce-weavers/tpay/shop/images/hourglass.gif', 'commerce_weavers_tpay_shop') }}" />
    </div>

    <meta http-equiv="refresh" content="{{ refreshInterval }}">
{% endblock %}
